{% extends 'base.html' %}

{% block content %}

{% for item in task %}
<form action="edit/{{item.id}}" method="POST">
    <label for="taskname">Task Name;</label>
    <input type="text" name="taskname" id="taskname" value="{{item.task_name}}">

    <label for="starttime">Task starts at: {{item.start_time}}</label>
    <input type="datetime-local" name="starttime" id="starttime" value="{{item.start_time}}">

    <label for="completion_time">Task ends at: {{item.completion_time}}</label>
    <input type="datetime-local" name="completiontime" id="completiontime" value="{{item.completion_time}}">
    
    <button type="submit">Edit task</button>
</form>
{% endfor %}
{% endblock %}